:root {
  --black: #1e1e1e;
  --gray-300: #696969;
  --gray-400: #444444;
  --gray-500: #262626;
  --white: #ffff;
  --red: #d00000;
  --yellow: #ffba08;
  --blue: #3f88c5;
  --pink: #ff499e;
  --green: #00c49a;
  --purple: #afa2ff;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: var(--black);
  box-sizing: border-box;
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 320px) {
  html {
    font-size: 87.5% !important;
  }
}
